body {
    background-image:    url(Alaa/Background.png);

    background-size:     cover;                   
    background-repeat:   no-repeat;
}

#score{
    text-decoration-color:antiquewhite;
}



#char{
    position: absolute;
    bottom: 0px;
    background-image:    url(Alaa/Player.png);

    background-size:     cover;
    
}
#obs{
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-size:     cover;  
}
#obsimg{
   position: absolute;
    bottom: 0px;
    width: 200px;
    height: 1500px;
   
    
    
}
#gameOver{
     width: 200px;
    height: 200px;
    background-image: url(picselected/gameOver.jpg);
    background-size:     cover;
    align-content: center;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
    font-style: oblique;
    
}
