.background {
    
    position: fixed; 
    
    top: 0; 
    left: 0; 

    min-width: 100%;
    min-height: 100%;

    max-width: 100%;
    max-height: 100%;

    z-index: -1;
}

.divStyle{

    color: white;
    font-size: 50pt;
    font-family: "Comic Sans MS";
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

._2048{

    width: 7.5%;
    height: 8.2%;

    position: absolute;

    top: 42%;
    left: 23.5%;

    /*border: solid 2pt red;*/
}

._narrow{

    width: 9%;
    height: 10%;

    position: absolute;

    top: 65.5%;
    left: 33.5%;

    /*border: solid 2pt red;*/
}

._rocks{

    width: 7.8%;
    height: 16%;

    position: absolute;

    top: 46.5%;
    left: 57%;

    /*border: solid 2pt red;*/
}

._maze{

    width: 8.7%;
    height: 16%;

    position: absolute;

    top: 51%;
    left: 72.5%;

    /*border: solid 2pt red;*/
}

.rec-position{

    position: absolute;
    top: 85%;
    left: 85%;
}
