:root {
    --off: rgba(0, 0, 0, 0.0);;
    --on: rgba(255, 255, 255, 1);;

    --mazeBorder: solid;
}

.playerNode{

    position: absolute;
    z-index: 1;
}

.node0 {
    border-style: var(--mazeBorder);

    border-color: var(--off) /* top */
                  var(--off) /* right */
                  var(--off) /* bottom */
                  var(--off);/* left */
}

.node1 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--on) /* right */
                  var(--on) /* bottom */
                  var(--on);/* left */
}

.node2 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--on) /* right */
                  var(--off) /* bottom */
                  var(--on);/* left */
}

.node3 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--on) /* right */
                  var(--on) /* bottom */
                  var(--on);/* left */
}

.node4 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--on) /* right */
                  var(--on) /* bottom */
                  var(--off);/* left */
}

.node5 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--off) /* right */
                  var(--on) /* bottom */
                  var(--on);/* left */
}

.node6 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--on) /* right */
                  var(--off) /* bottom */
                  var(--off);/* left */
}

.node7 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--off) /* right */
                  var(--off) /* bottom */
                  var(--on);/* left */
}

.node8 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--off) /* right */
                  var(--on) /* bottom */
                  var(--off);/* left */
}

.node9 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--on) /* right */
                  var(--on) /* bottom */
                  var(--off);/* left */
}

.node10 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--off) /* right */
                  var(--on) /* bottom */
                  var(--on);/* left */
}

.node11 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--on) /* right */
                  var(--off) /* bottom */
                  var(--on);/* left */
}

.node12 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--off) /* right */
                  var(--on) /* bottom */
                  var(--off);/* left */
}

.node13 {
    border-style: var(--mazeBorder);
    border-color: var(--on) /* top */
                  var(--off) /* right */
                  var(--off) /* bottom */
                  var(--off);/* left */
}

.node14 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--off) /* right */
                  var(--off) /* bottom */
                  var(--on);/* left */
}

.node15 {
    border-style: var(--mazeBorder);
    border-color: var(--off) /* top */
                  var(--on) /* right */
                  var(--off) /* bottom */
                  var(--off);/* left */
}
