:root {
    --tile_width: 110px;
    --col1_left: 130px;
    --col2_left: 252px;
    --col3_left: 378px;
  }
body{
    background-color:rgb(196, 246, 253);
    width: 500px;
    margin: 10px;
    margin-left: 33%;
    margin-right: 30%;
    font-family: fantasy;
    position: relative;
}

h1{
    font-size: 80px;
    display: inline-block;
    position: relative;
    color: rgb(98, 98, 98);
}

#str_scr{
    display:inline-block;
    position: absolute;
    right: 0;
    padding-top: 10px;
    top: 80px;
}

#start_wrapper{
    display: inline-block;
    position: absolute;
    padding: 10px;
    right: 0;
}

#start{
    padding: 8px 15px;
    margin: 5px;
    color: #eee4da;
    background-color: rgb(107, 107, 107);
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

#score_wrapper, #best_wrapper{
    display: inline-block;
    position: relative;
    text-align: center;
    height: 70px;
    padding: 1px;
    min-width: 100px;
    font-size: 18px;
    line-height: 10px;
    background-color: rgb(161, 160, 153);
    color:#f9f6f2;
    border-radius: 5px;
}

#game_container{
    width: 500px;
    height: 490px;
    padding: 10px;
    border: solid 6px  rgb(187, 173, 160);
    background-color: rgb(187, 173, 160);
    border-radius: 5px;
    position: relative;
}

.tile, .empty_tile{
    width: 110px;
    width: var(--tile_width); 
    height: 110px;
    border: solid 6px  rgb(187, 173, 160);
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(205, 192, 180);
    vertical-align: top;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(104, 102, 102);
    text-align: center;
    line-height: 110px;  
    position: absolute;  
}
.col_0{
    left: 0;
}
.col_1{
    left: var(--col1_left);
}
.col_2{
    left: var(--col2_left);
}
.col_3{
    left: var(--col3_left);
}

.row_0{
    top: 0;
}
.row_1{
    top: var(--col1_left);
}
.row_2{
    top: var(--col2_left);
}
.row_3{
    top: var(--col3_left);
}

.tile_2{
    background-color: #eee4da;
}
.tile_4{
    background-color: #eee1c9;
}
.tile_8{
    background: #f3b27a;
    color: #f9f6f2;
}
.tile_16{
    background-color: #f69664;
    color: #f9f6f2;
}
.tile_32{
    background-color: #f77c5f;
    color:#f9f6f2;
}
.tile_64{
    background-color: #f75f3b;
    color:#f9f6f2;
}
.tile_128{
    background-color: #edd073;
    color:#f9f6f2;
    font-size: 45px;
}
.tile_256{
    background-color: #edcc62;
    color:#f9f6f2;
    font-size: 45px;
}
.tile_512{
    background-color: #edc950;
    color:#f9f6f2;
    font-size: 45px;
}
.tile_1024{
    background-color: #edc53f;
    color:#f9f6f2;
    font-size: 35px;
}
.tile_2048{
    background-color: #edc22e;
    color: #f9f6f2;
    font-size: 35px;
}
.tile_4096{
    background-color: rgb(15, 15, 15);
    color: #f9f6f2;
    font-size: 35px;
}
